{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 52,
          "browsers": ["last 2 major versions", ">5% in US"]
        },
        "modules": false
      }
    ]
  ]
}
