language:
  - node_js

node_js:
  - 8

branches:
  except:
    - /^v\d+\.\d+\.\d+$/

notifications:
  slack: smartcar:PGJmjtKFPytU5E2FwsImdVp8

install:
  - npm install

script:
  - npm test
  - npm run cover
  - npm run build

  - git config --global user.email "ci@smartcar.com"
  - git config --global user.name "Travis CI User"
  - export tag=$(grep 'version' package.json | sed 's/[", ]//g' | cut -d ':' -f 2)
  - if [ "$TRAVIS_BRANCH" = "master" ]; then git tag -a v$tag -m "Travis Generated Tag"; fi

deploy:
  - provider: script
    skip_cleanup: true
    script: npm run publish
    on:
      branch: master
  - provider: script
    skip_cleanup: true
    script: echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc && git push origin v$tag
    on:
      branch: master
